{% extends 'base.html.twig' %}

{% block title %}Edit Home{% endblock %}
{% block body %}
<div class="col-8 mx-auto">
    <h1 class="text-center">Modifier</h1>
    <a class="btn btn-outline-primary my-3" href="{{ path('home_index') }}">back to list</a>
    {{ include('home/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('home/_delete_form.html.twig') }}
</div>
{% endblock %}

