{% extends 'base-front.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="text-center">Contact </h1>
    <div class="col-6 mx-auto border mt-1">
        {{ form(form) }}
    </div>
{% endblock %}

