{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="col-6 mx-auto">
    <h1 class="text-center">Bienvenue !</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, labore! Sequi commodi asperiores illo, excepturi reprehenderit ducimus ipsam expedita inventore dicta blanditiis fuga dolore nisi eos cupiditate obcaecati veniam, fugit non eligendi error! Explicabo, minus consequuntur. Quo autem, laudantium obcaecati minima at perferendis quos voluptate. Odio id dolor repellendus, amet atque sint at esse beatae vitae, exercitationem dignissimos. Quisquam, quasi iusto odio minima error amet blanditiis nam eaque cum a quam sint similique autem voluptatum praesentium officia in, commodi consequatur magni illum. Reprehenderit nemo labore laudantium deleniti possimus mollitia nostrum consequatur voluptatem deserunt esse, expedita quaerat placeat? Quam, voluptas et.</p>
</div>
{% endblock %}
